@import './variables';

@mixin media($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media only screen and (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@function getValue($size, $name) {
  $value: map-get(map-get($chessBoardSizes, $size), $name);

  @return $value;
}

@function setSize($size, $property) {
  $value: map-get(map-get($chessBoardSizes, $size), 'padding');

  @if $property == 'width' {
    $width: calc(100% - #{$value});
    @return $width;
  } @else if $property == 'height' {
    $height: calc(100% - #{$value});
    @return $height;
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$size}`";
  }
}
