@import '../../styles/mixins';
@import '../../styles/variables';

.field {
  width: calc($size-mobile-sm);
  height: calc($size-mobile-sm);

  @include media('mobile-sm') {
    width: calc($size-mobile-sm);
    height: calc($size-mobile-sm);
  }

  @include media('mobile') {
    width: calc($size-mobile);
    height: calc($size-mobile);
  }
}
