@import '../../styles/mixins';
@import '../../styles/variables';

.field {
  width: $size-default;
  height: $size-default;

  @include media('mobile-sm') {
    width: $size-mobile-sm;
    height: $size-mobile-sm;
  }

  @include media('mobile') {
    width: $size-mobile;
    height: $size-mobile;
  }
}
