:root {
  --font-size: 10px;
  --font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
